@use "sass:map";
@use "../variables" as *;

.header {
  border-bottom: 1px solid map.get($colors, "black");
  width: 100%;
  height: 100%;
  display: grid;
  align-content: space-evenly;
  place-items: center;
  justify-items: center;

  // ロゴ
  &__logo {
    &-link {
      display: block;
      margin: 0 auto;
      width: 87%;
      max-width: 300px;
      height: auto;
    }
    &-image {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  // ソーシャルリンク
  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    &-link {
      width: 37px;
      height: 37px;
      display: grid;
      place-items: center;
    }
    &-image {
      width: 100%;
      height: 100%;
      transition: opacity ease 0.2s;
      transition-delay: 0.1s;
      &:hover {
        opacity: 0.65;
      }
    }
  }
}
