@use "./reset.css";
@use "./variables" as *;
@use "sass:map";

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  background-color: map.get($colors, "white");
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  @media (min-width: 900px) {
    grid-template-columns: 2fr 700px 2fr;
  }
}

.contents {
  width: 100%;
  grid-column: 2;
  display: grid;
  grid-template-rows: 300px 1fr 100px;
  gap: 24px;
}

.header,
.main,
.footer {
  width: 100%;
}

.header {
  height: 100%;
  border-bottom: 1px solid map.get($colors, "black");
  display: grid;
  align-content: space-evenly;
  place-items: center;
  justify-items: center;

  // ロゴ
  &__logo {
    &-link {
      display: block;
      margin: 0 auto;
      width: 87%;
      max-width: 300px;
      height: auto;
    }
    &-image {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  // ソーシャルリンク
  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    &-link {
      width: 37px;
      height: 37px;
      display: grid;
      place-items: center;
    }
    &-image {
      width: 100%;
      height: 100%;
      transition: opacity ease 0.2s;
      transition-delay: 0.1s;
      &:hover {
        opacity: 0.65;
      }
    }
  }
}

.main {
  padding-inline: 8px;
  padding-bottom: 24px;
  overflow: hidden;
  &__msg {
    text-align: center;
  }
  &__contents {
    padding-top: 24px;
    padding-inline: 16px;
  }
}

.footer {
  padding-top: 24px;
  border-top: 1px solid map.get($colors, "black");
  height: 100%;
}

// 文字
h1,
h2,
h3,
p,
a,
li,
span,
small {
  color: map.get($colors, "black");
  line-height: 1.6;
  font-family:
    "LINE Seed JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  overflow-wrap: break-word;
}
p,
a,
li {
  font-size: 1rem;
}
h1 {
  font-size: clamp(1.75rem, 4vw, 2rem);
}
h2 {
  font-size: clamp(1.5rem, 3vw, 1.75rem);
}
h3 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}
.link {
  position: relative;
  display: inline-block;
  transition: color 0.2s;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.1rem;
    width: 100%;
    height: 1px;
    background-color: map.get($colors, "black");
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.2s ease;
  }
  &:hover {
    color: color-mix(in srgb, map.get($colors, "black"), transparent 50%);
    &::after {
      transform: scaleX(0);
    }
  }
}

small {
  font-size: 0.85rem;
}
