@use "./reset.css";
@use "./variables" as *;
@use "sass:map";

html,
body {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: map.get($colors, dark-white);
  height: 100dvh;
  align-self: center;
  display: flex;
  justify-content: center;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
p,
li,
a,
small {
  line-height: 1.6;
  font-family:
    "LINE Seed JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: map.get($colors, black);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p,
li,
a {
  font-size: 1rem;
}

a {
  text-decoration-line: underline;
}

small {
  font-size: 0.9rem;
}

// 全体
.contents {
  background-color: map.get($colors, white);
  border-radius: 16px;
  display: grid;
  gap: 16px;
  grid-template-rows: 30% 1fr 80px;
  grid-template-columns: 1fr;
  height: 90%;
  place-content: center;
  place-items: center;
  @media (max-width: 768px) {
    width: 350px;
  }
  @media (min-width: 1024px) {
    width: 800px;
  }
}

.header,
.main,
.footer {
  height: 100%;
  width: 70%;
}

// ヘッダー
.header {
  align-content: space-evenly;
  border-bottom: 1px solid map.get($colors, black);
  // display: grid;
  // gap: 16px;
  // place-content: center;
  // place-items: center;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  &__logo {
    display: block;
    height: auto;
    width: 250px;
  }

  // ソーシャルリンク
  &__socials {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 16px;
    li a {
      border-radius: 50%;
      border: 1px solid map.get($colors, black);
      display: grid;
      place-items: center;
      height: 46px;
      width: 46px;
    }
  }
}

// メイン
.main {
  height: 100%;
  overflow: hidden;
  min-width: 0;
  &__message {
    padding-block: 1rem;
  }
}
