---
import Wrapper from "../layout/Wrapper.astro";
---

<Wrapper title="404" msg="(UwU) Not Found.">
  <p>
    "{Astro.url.pathname}" というパスのページは存在しません。<br />
    <a class="link" href="/">トップページに戻る</a>
  </p>
</Wrapper>

<style lang="scss">
  p {
    text-align: center;
  }
</style>
