---
import Wrapper from "../layout/Wrapper.astro";

/*
style - normal, large
*/
const cardContents = [
  {
    style: "normal",
    url: "/introduce",
    ttl: "Introduce",
    desc: "Who I am.",
  },
  {
    style: "normal",
    url: "/skills",
    ttl: "Skills",
    desc: "Skills I have acquired.",
  },
  {
    style: "large",
    url: "/projects",
    ttl: "Projects",
    desc: "selected works and experiment.",
  },
  {
    style: "normal",
    url: "/sitemap",
    ttl: "Sitemap",
    desc: "Explore this site.",
  },
];
---

<Wrapper ttl="Top" msg="I am a coder.">
  <nav class="card-contents">
    {
      cardContents.map((obj) => (
        <a class={"card-contents__card--" + obj.style} href={obj.url}>
          <h2 class="card-contents__card-ttl">{obj.ttl}</h2>
          <p class="card-contents__card-desc">{obj.desc}</p>
        </a>
      ))
    }
  </nav>
</Wrapper>

<style lang="scss"></style>
