---
import Wrapper from "../layout/Wrapper.astro";

/*
style - normal, large
*/
const cardContents = [
  {
    url: "/introduce",
    ttl: "Introduce",
    desc: "Who I am.",
  },
  {
    url: "/skills",
    ttl: "Skills",
    desc: "Skills I have acquired.",
  },
  {
    url: "/projects",
    ttl: "Projects",
    desc: "selected works and experiment.",
  },
  {
    url: "/sitemap",
    ttl: "Sitemap",
    desc: "Explore this site.",
  },
];
---

<Wrapper ttl="Top" msg="I am a coder.">
  <nav class="card-contents">
    {
      cardContents.map((obj) => (
        <a class="card-contents__card" href={obj.url}>
          <h2 class="card-contents__card-ttl">{obj.ttl}</h2>
          <p class="card-contents__card-desc">{obj.desc}</p>
        </a>
      ))
    }
  </nav>
</Wrapper>

<style lang="scss">
  @use "sass:map";
  @use "../styles/variables" as *;

  .card-contents {
    margin-top: 16px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
    &__card {
      padding: 56px 40px;
      border: 1px solid map.get($colors, "black");
      border-radius: 8px;
      transition: transform ease 0.3s;
      &:hover {
        transform: translateY(-8px);
      }
      &-ttl {
        margin-bottom: 0.5rem;
      }
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
