---
import "../styles/global.scss";
import { ClientRouter } from "astro:transitions";
const { ttl } = Astro.props;
const { msg } = Astro.props;
const socials = [
  {
    name: "X",
    image: "x.svg",
    url: "https://x.com/yoshihito_2025",
  },
  {
    name: "GitHub",
    image: "github.svg",
    url: "https://github.com/yoshihito2025",
  },
  {
    name: "Discord",
    image: "discord.svg",
    url: "https://discord.gg/eFrFHwfrc",
  },
];
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap"
        rel="stylesheet"
      />
    </noscript>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Yoshihito - {ttl}</title>
    <ClientRouter />
  </head>
  <body>
    <div class="contents">
      <header class="header">
        <a class="header__logo-link" href="/">
          <img
            class="header__logo-image"
            src="/images/logo.svg"
            alt="logo"
          /></a
        >
        <nav class="header__socials">
          {
            socials.map((obj) => (
              <a class="header__socials-link" href={obj.url} target="_blank">
                <img
                  class="header__socials-image"
                  src={"/images/sns/" + obj.image}
                  alt=""
                />
              </a>
            ))
          }
        </nav>
      </header>
      <main class="main">
        <h1 class="main__msg">{msg}</h1>
        <div class="main__contents">
          <slot />
        </div>
      </main>
      <footer class="footer">
        <small>Copyright &copy; 2026 Yoshihito, All right reserved.</small>
      </footer>
    </div>
  </body>
</html>
